{% extends 'base.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block body %}
    {% include 'parts/header.html.twig' %}
    {% include 'parts/leftMenu.html.twig' %}
    <h1>Bienvenue sur le Blog</h1>

    <h2>Liste des Catégories</h2>
    {% include 'parts/footer.html.twig' %}
{% endblock %}
