{% include 'parts/header.html.twig' %}
{% include 'parts/leftMenu.html.twig' with {'categories': categories} %}

{% block body %}
    <h1>Articles dans la catégorie {{ category.name }}</h1>

    <ul>
        {% for article in articles %}
                <a href="{{ path('article_show', {'id': article.id}) }}">{{ article.title }}</a>  {# Assure-toi que "title" est la propriété de ton article #}
        {% else %}
            <li>Aucun article dans cette catégorie.</li>
        {% endfor %}
    </ul>
{% endblock %}